.cart {
  min-height: 680px !important;
}
.emptyCart {
  min-height: 680px;
}
.cart img {
  height: 200px;
  width: 250px;
}
.cart .cardCart h4 {
  font-size: 21.5px;
}
.vaciarFinalizar h4 {
  font-size: 23px;
}
.cart .check h2 {
  font-size: 28px;
}
.vacio h2:hover {
  color: black;
}
.delete {
  cursor: pointer;
}
.check .checkB {
  height: 100%;
}
.swal-footer {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}
.swal-button:nth-child(1) {
  margin-right: 10px;
}
.swal-button:nth-child(1):hover {
  background-color: red;
}
.swal-button--confirm:hover {
  background-color: green !important;
}

.swal-title {
  font-size: 40px;
}
.swal-text {
  font-size: 25px;
}
.swal-button {
  display: flex;
  justify-content: center;
  width: 70px;
  font-size: 15px;
  background-color: black;
  color: white;
}
.emptyCart h1 {
  font-size: 40px;
}
.emptyCart h2 {
  font-size: 30px;
}
.cardCart {
  row-gap: 0;
  column-gap: 5px;
}
@media screen and (width <= 1200px) {
  .emptyCart h1 {
    font-size: 30px;
  }
  .cart .cardCart h4 {
    font-size: 17px;
  }
  .cart .check h2 {
    font-size: 25px;
  }
  .vaciarFinalizar h4 {
    font-size: 19px;
  }
  .emptyCart h2 {
    font-size: 25px;
  }

  .cart img {
    height: 150px;
    width: 200px;
  }
}
@media screen and (width <= 900px) {
  .cart .cardCart h4 {
    font-size: 13px;
  }
  .cart .check h2 {
    font-size: 20px;
  }
  .vaciarFinalizar h4 {
    font-size: 13px;
  }
  .cart {
    min-height: 580px;
  }
}
@media screen and (width <= 660px) {
  .cardCartContainer {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    max-width: 250px;
  }
  .cart img {
    margin-bottom: 10px;
    height: 130px;
    width: 150px;
  }
  .cart .cardCart h4 {
    font-size: 10px;
  }
  .cart .check h2 {
    font-size: 15px;
  }
  .vaciarFinalizar {
    flex-direction: column;
  }
  .vaciarFinalizar h4 {
    font-size: 12px;
  }
}
@media screen and (width < 400px) {
  .cart .check h2 {
    font-size: 13px;
  }
  .cart .cardCart h4 {
    font-size: 9.8px;
  }
}
