form button {
  width: 200px;
}
form {
  display: flex;
  justify-content: center;
  width: 300px;
  align-self: center;
}
.hForm {
  width: 400px;
}
.form {
  min-height: 680px;
}
.containerComp {
  min-height: 680px;
}
.ordenComp {
  width: 500px;
}
.linkCheck:hover {
  color: black !important;
}
.containerComp .backHome {
  font-size: 30px;
}
@media screen and (width < 600px) {
  .hForm {
    width: 300px;
  }
  .ordenComp {
    width: 400px;
  }
  .containerComp .backHome {
    font-size: 25px;
  }
}
@media screen and (width < 400px) {
  .ordenComp {
    width: 300px;
  }
}
