.containerTarjeta {
  min-height: 600px !important;
  gap: 45px;
}
.tarjeta {
  width: 350px;
  height: 470px;
  gap: 10px;
}
.tarjeta h2,
.tarjeta h3 {
  font-size: 27px;
}
.tarjeta .detProduct {
  font-size: 20px;
}
.tarjeta img {
  height: 250px;
  width: 280px;
}
.details {
  height: 45px;
  line-height: 1.2em;
  font-weight: 500;
  text-decoration: none;
}

@media screen and (width < 1200px) {
  .tarjeta {
    width: 250px;
    height: 370px;
    gap: 10px;
  }
  .tarjeta img {
    height: 170px;
    width: 200px;
  }
  .tarjeta h2,
  .tarjeta h3 {
    font-size: 20px;
  }
  .details {
    height: 45px;
  }
  .tarjeta .detProduct {
    font-size: 15px;
  }
}
